[user]
	email = quezad@gmail.com
	name = Marcos Quezada-Perez

[color]
  ui = auto

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  rename = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[help]
  autocorrect = prompt

[commit]
  verbose = true

[pull]
  rebase = true

[core]
	autocrlf = input
	excludesFile = ~/.gitignore

[init]
	defaultBranch = main

[alias]
  lool = log --color=always --pretty=tformat:"%Cgreen%h%Creset%x20%s%Cblue%d%Creset%x20[%an]" --graph --date=short
	lol = log --graph --date=short --oneline --abbrev-commit --all --graph --decorate -1
  ll = log --graph --date=short --oneline --abbrev-commit --all --graph --decorate -10
  cfw = "!git-clone-bare-for-worktrees"

[include]
  path = ~/.color.gitconfig
